services:
  app:
    build: ./app
    deploy:
      replicas: 3
    environment:
      - REDIS_HOST=redis
      - ALGO_FILE=${ALGO_FILE:-fixed-window.js} # Defaults to fixed-window
  redis:
    image: redis:alpine
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "8080:80"